<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='javascripts/main.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>The lean MERN setup with Hot Module Reloading</p>
    <br>

    <div>
      <div id="root" />
      <script src="javascripts/main.js"></script>
    </div>

  </body>
</html>
