<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br>

    <div>
      <h2>React Component Here</h2>
      <div id="root" />
      <script src="javascripts/main.js"></script>
    </div>


  </body>
</html>
