<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='javascripts/main.css' />
  </head>
  <body>
    <div id="root" />
    <script src="javascripts/main.js"></script>
  </body>
</html>
