<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% if (process.env.NODE_ENV !== 'production') { %>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
      <!-- Speeds up the dev process, less compiling -->
    <% } else { %>
      <!-- uncomment bootstrap line in index.scss for production mode -->
    <% } %>
    <link rel='stylesheet' href='bundle/main.css' />
  </head>

  <body>
    <div id="root">Loading &hellip;</div>
    <script src="bundle/main.js"></script>
  </body>

</html>
