@use "variables";

body {
	font-family: Futura;
  color: var(--text);
  background-color: variables.$bg;
  text-align: center;
}

ul > li {
	font-size: 20px;
	list-style-type: none;
}

p {
	margin-top: 0;
	color: hsl(274,96%,25%, 0.6);
	font-weight: bold;
}

h1, h2 {
	color: indigo;
	margin-bottom: 0;
	font-size: 60px
}

.app-container {
	color: indigo;
	h2 {
		font-size: 30px;
		
	}
	border: 2px solid black;
	border-radius: 10px;
	margin: 100px auto;
  width: 50%;
  box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

button {
	margin: 1rem 0.2rem;
	padding: 0.8rem;
	font-size: 16px;
	font-weight: bold;
	color: white;
	border: 0px;
	border-radius: 5px;
	background-color: hsl(274,96%,25%, 0.6);
	box-shadow: 0 4px 6px hsla(0, 0%, 0%, 0.2);
}

.navbar-nav .nav-link a {
	color: #666;
	text-decoration: none;
	font-size: 20px;
}
.navbar-brand a {
	color: #222;
	text-decoration: none;
}

#unused {
	font: Futura;
	font-size: 30px;
	color: orange;
}

#redTarget {
	color: red;
}

#inferior {
	font: sans-serif;
	border: 20px;
	color: pink;
}