@use "variables";
@use "spinner";

body {
	// font-family: Futura;
  // color: var(--text);
  // background-color: variables.$bg;
  // text-align: center;
}

// p {
// 	margin-top: 0;
// 	color: hsl(274,96%,25%, 0.6);
// 	font-weight: bold;
// }

// h1, h2 {
// 	color: indigo;
// 	margin-bottom: 0;
// 	font-size: 60px
// }

#unused {
	font: Futura;
	font-size: 30px;
	color: orange;
}

#redTarget {
	color: red;
}

#inferior {
	font: sans-serif;
	border: 20px;
	color: pink;
}

.page404 {
  margin-top: 30px;
  h1, h2, a {
    text-align: center;
  }
  h1 {
    font-size: 5rem;
    text-decoration: underline;
  }
  pre {
    padding: 30px;
  }
  a {
    text-decoration: none;
  }


  
  // color: var(--text);
  // background-color: variables.$bg;
  // text-align: center;
}