@use "variables";

body {
	// font-family: Futura;
  // color: var(--text);
  // background-color: variables.$bg;
  // text-align: center;
}

// p {
// 	margin-top: 0;
// 	color: hsl(274,96%,25%, 0.6);
// 	font-weight: bold;
// }

// h1, h2 {
// 	color: indigo;
// 	margin-bottom: 0;
// 	font-size: 60px
// }

#unused {
	font: Futura;
	font-size: 30px;
	color: orange;
}

#redTarget {
	color: red;
}

#inferior {
	font: sans-serif;
	border: 20px;
	color: pink;
}